* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style-type: none;
}
.nav-div {
  width: 100vw;
  height: 4rem;
  box-shadow: 0 0.02rem 0.2rem black;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#todo-input {
  width: 8rem;
  height: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.todo-item-dummy {
  display: none;
}

.todo-item {
  display: flex;
}

.todo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 1rem;
}
.todo-title {
  font-size: 1.3rem;
}
.edit-btn {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.update-input {
  display: none;
  width: 8rem;
  height: 1.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.save-btn {
  display: none;
  margin-right: 1rem;
}

.empty-list {
  display: none;
}
